header{
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  width: 100%;
}
header h1{
  color: white;
  float: left;
  text-shadow: 2px 2px 0px #02010a;
  width: 60%;
  padding: 10px;
  margin-left: 2px;
}
header #menu-principal{
  float: right;
  width:40%;
  margin-left: 20%;
  padding: 2px;
  margin-top: 20px;
}
li{
  display: inline;
  padding: 5px;
}
ul li a:link{
  color: white;
}
.imagencentral{
    background-color: #82c3a6;
    height: 500px;
}
.imagencentral img{
  width: 100%;
  box-shadow: 2px #02010a;
  height: 480px;
  margin: 10px;
  object-fit: cover;
}
.imagenessecundarias{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
  background-color: #d5c75f;
  border: 1px;
  height: 400px;
}
.imagensecundaria1{
  width: 50%;
  order: 1;
}
.imagensecundaria2{
  width: 50%;
  order: 2;
}
.imagensecundaria1 img{
  height: 330px;
  width: 100%;
  object-fit: cover;
}
.imagensecundaria1 img:hover{
  transform: rotate(10deg);
}
.imagensecundaria2 img{
  height: 330px;
  width: 100%;
  object-fit: cover;
}
.imagensecundaria2 img:hover{
  transform: translate(20px,-5px);
}
footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row wrap;
  clear: both;
}
.contacto{
  width: 25%;
  margin: 2px;
  padding: 10px;
}
.terminos{
  width: 25%;
  margin: 2px;
  padding: 10px;
}
.redessociales{
  width: 25%;
  margin: 2px;
  padding: 10px;
}
.derechos{
  width: 25%;
  margin: 2px;
  padding: 10px;
}
img{
  box-shadow: 2px 2px 0px #02010a;
}
h3{
  text-align: center;
  text-decoration: underline;
}
.imagenessecundarias a:link{
  color: black;
  text-decoration: underline;
}
body{
  font-family: 'Dancing Script', cursive;
  background-color: black;
}
@media (min-width: 900px){
  .contenido{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  footer{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 900px){
  .contenido{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  footer{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .imagensecundaria1{
    width: 100%;
    order: 1;
  }
  .imagensecundaria2{
    width: 100%;
    order: 2;
  }
  .imagenessecundarias{
    height: auto;
  }
  .contacto{
    width: 100%;
    order:1;
    margin-left: 10px;
  }
  .terminos{
    width: 100%;
    order: 2;
    margin-left: 10px;
  }
  .redessociales{
    width: 100%;
    order:3;
    margin-left: 10px;
  }
  .derechos{
    width: 100%;
    order:4;
    margin-left: 10px
  }
  header h1{
    width: 100%;
    text-align: center;
    padding: 1px;
    margin: 0;
  }
  header #menu-principal{
    width: 100%;
    padding: 1px;
    margin: 0;
    text-align: center;
  }
}
